---
import DynamicIcon from "@/helpers/DynamicIcon";
import { markdownify } from "@/lib/utils/textConverter";

const { features } = Astro.props;
---

{
  features.enable && (
    <section class="section">
      <div class="container">
        <div class="row">
          <div
            class="mx-auto text-center lg:col-8 xl:col-6"
            data-aos="fade-up-sm"
            data-aos-delay="100"
          >
            <div class="section-heading-shape" aria-label="shape" />
            <h2 class="mb-6" set:html={markdownify(features.title)} />
            <p set:html={markdownify(features.description)} />
          </div>
          <div
            class="col-12 pt-5 md:pt-10"
            data-aos="fade-up-sm"
            data-aos-delay="250"
          >
            <div class="grid rounded-3xl md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
              {features?.items?.map(
                (item: {
                  icon: string;
                  title: string;
                  description: string;
                }) => (
                  <div class="after:bg-gradient-primary relative border p-7 transition-colors duration-300 after:absolute after:left-0 after:top-0 after:-z-10 after:h-full after:w-full after:opacity-0 after:duration-300 hover:border-transparent hover:text-white hover:after:opacity-100 sm:p-10">
                    <div class="mb-6 h-[50px] w-[50px] rounded-full border text-center text-lg leading-[50px] sm:h-[64px] sm:w-[64px] sm:text-2xl sm:leading-[64px] flex items-center justify-center">
                      <DynamicIcon icon={item.icon} />
                    </div>
                    <h3
                      class="h4 mb-4 text-inherit"
                      set:html={markdownify(item.title)}
                    />
                    <p set:html={markdownify(item.description)} />
                  </div>
                )
              )}
            </div>
          </div>
        </div>
      </div>
    </section>
  )
}
