---
import BlogCard from "@/components/BlogCard.astro";
import Brands from "@/components/Brands.astro";
import Counter from "@/helpers/Counter";
import DynamicIcon from "@/helpers/DynamicIcon";
import Base from "@/layouts/Base.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import { markdownify } from "@/lib/utils/textConverter";
import CallToAction from "@/partials/CallToAction.astro";
import FAQ from "@/partials/FAQ.astro";
import FeaturesSection from "@/partials/FeaturesSection.astro";
import PricingSection from "@/partials/PricingSection.astro";
import Testimonial from "@/partials/Testimonial.astro";
import { getEntry } from "astro:content";
import { FaCirclePlay } from "react-icons/fa6";
const BLOG_FOLDER = "blog";

const homepage = await getEntry("homepage", "-index");
const testimonial = await getEntry("sections", "testimonial");
const features = await getEntry("sections", "features");
const postIndex = await getEntry(BLOG_FOLDER, "-index");
const posts = await getSinglePage(BLOG_FOLDER);
const { banner, brands, experience } = homepage.data;

const pricingIndex = await getEntry("precios", "-index");
const { pricing } = pricingIndex.data;
---

<Base>
  <!-- banner -->
  <section
    class="section bg-gradient-primary relative overflow-hidden rounded-t-[20px] text-white md:rounded-t-[40px]"
  >
    <div class="container relative z-10">
      <div class="row gy-4 items-center">
        <div class="lg:col-6">
          <div
            class="mb-5 inline-flex items-center rounded-full border border-border/10 bg-white/5 px-3 py-px max-[400px]:text-sm sm:px-4"
            data-aos="fade-up-sm"
            set:html={markdownify(banner?.badge)}
          />
          <h1
            class="mb-5 text-inherit"
            data-aos="fade-up-md"
            data-aos-delay="100"
            set:html={markdownify(banner.title)}
          />
          <p
            class="mb-10"
            data-aos="fade-up-md"
            data-aos-delay="200"
            set:html={markdownify(banner.content)}
          />

          <div class="flex flex-wrap gap-5">
            <div
              data-aos="fade-up-sm"
              data-aos-delay="300"
              data-aos-duration="500"
            >
              {
                banner.button.enable && (
                  <a href={banner.button.link} class="btn btn-white">
                    {banner.button.label}
                  </a>
                )
              }
            </div>
            <div
              data-aos="fade-up-sm"
              data-aos-delay="350"
              data-aos-duration="500"
            >
              {
                banner.video_button.enable && (
                  <button
                    class="btn btn-outline-white"
                    data-src={banner.video_button.link}
                    data-modal
                    data-target="video-modal"
                    aria-label="play-button"
                    aria-labelledby="video-modal"
                  >
                    <FaCirclePlay className="me-1 -mt-1 inline" />
                    {banner.video_button.label}
                  </button>
                )
              }
            </div>
          </div>
        </div>
        <div
          class="hidden lg:col-6 lg:block"
          data-aos="fade-down-sm"
          data-aos-delay="300"
        >
          <img src="./images/banner.png" class="ml-auto block" alt="banner" />
        </div>
      </div>
    </div>

    <!-- Shapes -->
    <div class="shapes -z-10 select-none">
      <!-- Left Top -->
      <div
        class="absolute -left-12 -top-8 hidden h-44 w-44 rounded-3xl bg-white/5 pr-16 pt-16 sm:block"
        data-aos="fade-down"
        data-aos-delay="200"
        aria-label="shape"
      >
      </div>
      <!-- Left Bottom -->
      <div
        class="absolute -bottom-4 left-0 h-44 w-52 rounded-r-3xl bg-white/5 pr-16 pt-16"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <div
          class="h-44 w-full rounded-r-3xl bg-white/5"
          data-aos="fade-up"
          data-aos-delay="250"
          aria-label="shape"
        >
        </div>
      </div>

      <!-- Right Top  -->
      <div
        class="slide-in slide-in-banner first absolute -top-80 right-[4%] h-[140%] w-5 bg-white/5 pr-16 pt-16 md:right-[9%] md:w-10"
        data-aos=""
        data-aos-duration="1200"
        data-aos-delay="200"
        aria-label="shape"
      >
      </div>
      <div
        class="slide-in slide-in-banner second absolute -top-40 right-[9%] h-[170%] w-5 rotate-[30deg] bg-white/5 pr-16 pt-16 md:w-10"
        data-aos=""
        data-aos-duration="1200"
        data-aos-delay="200"
        aria-label="shape"
      >
      </div>
    </div>
  </section>
  <!-- /.banner -->

  <Brands brands={brands} />
  <FeaturesSection features={features.data} />

  <!-- Features -->
  {
    experience.enable && (
      <section class="section bg-gradient-secondary relative overflow-hidden rounded-t-[20px] md:rounded-t-[40px]">
        <div class="container">
          <div class="md:px-6">
            <div class="row gy-4 items-center lg:gx-5">
              <div class="lg:col-6">
                <div
                  class="section-heading-shape"
                  data-aos="fade-up-sm"
                  aria-label="shape"
                />
                <h2
                  class="mb-6"
                  data-aos="fade-up-sm"
                  set:html={markdownify(experience.title)}
                />
                <p
                  data-aos="fade-up-sm"
                  data-aos-delay="150"
                  set:html={markdownify(experience.description)}
                />
                <div class="mt-8">
                  {experience?.items.map((item: any) => (
                    <div>
                      <span
                        class="gradient gradient-sky gradient-horizontal gradient-to-right block"
                        aria-label="horizontal line"
                      />
                      <div
                        class="flex py-6 max-[400px]:flex-wrap max-[400px]:gap-4"
                        data-aos="fade-up-sm"
                        data-aos-delay="150"
                      >
                        <div class="mr-6 h-[58px] min-w-[58px] rounded-full border text-center text-2xl leading-[58px] flex justify-center items-center">
                          <DynamicIcon icon={item.icon} />
                        </div>
                        <div>
                          <h3
                            class="h4 mb-2 text-inherit"
                            set:html={markdownify(item.title)}
                          />
                          <p
                            class="font-medium"
                            set:html={markdownify(item.description)}
                          />
                        </div>
                      </div>
                    </div>
                  ))}

                  <div
                    class="gradient gradient-sky gradient-horizontal gradient-to-right block"
                    aria-label="horizontal line"
                  />
                </div>
              </div>
              <div
                class="hidden lg:col-6 lg:block"
                data-aos="fade-down-sm"
                data-aos-delay="350"
              >
                <img
                  src={experience.image}
                  class="ml-auto block"
                  alt="feature"
                />
              </div>
            </div>
          </div>
        </div>

        {/* Counter  */}
        <div class="mt-10 md:mt-20">
          <div class="container">
            <div
              class="bg-gradient-primary rounded-2xl px-7 py-10 text-white md:px-10"
              data-aos="fade-up-sm"
            >
              <div class="counter row gy-4 gx-5 md:justify-around">
                {experience?.counter?.stats?.map(
                  (item: { title: string; value: number; suffix: string }) => (
                    <div class="sm:col-6 md:col-5 lg:col-3 max-md:mx-auto">
                      <div class="gradient gradient-to-left sm:gradient-to-bottom max-sm:gradient-horizontal sm:gradient-vertical max-sm:after:-bottom-3 max-sm:after:via-[#ffffff4b] sm:after:right-0">
                        <h3 class="h2 bottom-line-shape mb-4 pb-4 text-inherit after:bg-white">
                          <Counter
                            client:idle
                            count={item.value}
                            suffix={item.suffix}
                            duration={0.9}
                          />
                        </h3>
                        <p set:html={markdownify(item.title)} />
                      </div>
                    </div>
                  )
                )}
              </div>
            </div>
          </div>
        </div>
        {/* /.Counter  */}
      </section>
    )
  }
  <!-- /.Features -->

  <Testimonial testimonial={testimonial} />
  <PricingSection pricing={pricing} />

  <!-- blog -->
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="mx-auto text-center lg:col-7" data-aos="fade-up-sm">
          <div class="section-heading-shape" aria-label="shape"></div>
          <h2 class="mb-6" set:html={markdownify(postIndex.data.title)} />
          <p set:html={markdownify(postIndex.data.description!)} />
        </div>
      </div>

      <div class="row g-4 pt-10" data-aos="fade-up-sm" data-aos-delay="150">
        {posts.slice(0, 6).map((post) => <BlogCard data={post} />)}

        <div class="col-12 pt-8 text-center">
          <a href="/blog" class="btn btn-primary">View All Articles</a>
        </div>
      </div>
    </div>
  </section>
  <!-- /.blog -->

  <FAQ />
  <CallToAction />
</Base>
